* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter',sans-serif;
    color: #0f172a;
}

.google-header{
    font-family: 'Poppins',sans-serif;
}

body{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
button{
    cursor: pointer;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.nav-container{
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    
}

.text-link,
footer a {
    color: inherit;
    text-decoration: none;
}
.text-link:hover,
footer a:hover {
    text-decoration: underline;
}
.nav-container-second .text-link {
    display: none;
}

.img-button {
    border: none;
    background: transparent;
}

.img-button img {
    width: 2.4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 100%;
}

main{
    flex : 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}

.title-text{
    font-size: 4rem;
}

.input-bar{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    max-width: 600px;
    border: 1px solid lightgray;
    border-radius: 1rem;
}
.input-bar:hover,
.input-bar:focus-within{
    box-shadow: 0 0 4px 1px lightgray;
}

.input-bar input {
    flex: 1;
    border: none;
    outline: none;
    width: 100%;
}

.input-bar div {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.input-icon{
    background: transparent;
    border: none;
}
.input-icon:hover{
    opacity: 0.6;
}
.button-grid{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.button-grid button{
    border: none;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
}
.button-grid button:hover{
    box-shadow: 0 0 4px 1px lightgray;
}
.lang-text{
    font-size: 0.8rem;
}
.lang-link{
    color: blue;
    text-decoration: none;
    cursor: pointer;
    
}
.lang-link:hover{
    text-decoration: underline;
}

footer{
    background: rgb(244, 244, 244);
}

footer > div {
    padding: 0.8rem;
}

.footer-grid{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-links{
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (min-width: 640px){
    .footer-grid{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
}

.nav-container-second .text-link {
    display: block;
}
}